.text-center {
    text-align: center;
}

* {
    margin: 0;
    padding: 0
}

html {
    display: flex;
    flex-direction: d;
    box-sizing: border-box;
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    background: url(https://images.unsplash.com/photo-1626630317382-16dffa6362eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80) center;
    background-size: cover;
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

option {
    background: rgba(207, 154, 214, 0.9);
}

.wrapper {
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pricing-table .package {
    border: none;
    background: none;
}
.pricing-table .package.featured .package-name {
    color: #29407C;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid  #cf9ad6;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 0 4px rgba(246,206,232, 0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px #f6cee8,
        0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: #29407C;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

span {
    display: inline-block;
    margin-top: 50px;
}

@media (max-width: 650px) {
    .clock {
        width: 20rem;
        height: 20rem;
        border: 15px solid  #cf9ad6;
    }
}

@media (max-width: 530px) {
    .wrapper {
        flex-wrap: wrap;
        align-items: center;
    }
    body {
        background: url(https://images.unsplash.com/photo-1626630317382-16dffa6362eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
        background-size: cover;
    }
    .pricing-table {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 !important;
        padding: 0 !important;
    }
    .package {
        margin: 0 !important;
        padding: 0 !important;
    }
    .price {
        font-size: 25px !important;
    }
    p {
        margin-bottom: 5px !important;
    }
    .features {
        padding: 0 !important;
    }
}

@media (max-width: 505px) {
    .features li {
        margin-bottom: 0 !important;
    }
    body {
        font-size: 1.5rem;
    }
    .clock {
        width: 15rem;
        height: 15rem;
        border: 10px solid  #cf9ad6;
        margin-top: 0;
    }
    .price {
        margin-top: 5px !important;
    }
}